<div id="<%= dom_id room %>">
  <p>
    <strong>Number pax:</strong>
    <%= room.number_pax %>
  </p>

  <p>
    <strong>Numbre hab:</strong>
    <%= room.numbre_hab %>
  </p>

  <p>
    <strong>Id hotel:</strong>
    <%= room.id_hotel %>
  </p>

  <p>
    <strong>Id habitation:</strong>
    <%= room.id_habitation %>
  </p>

</div>
