<%= form_with(model: habitation) do |form| %>
  <% if habitation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(habitation.errors.count, "error") %> prohibited this habitation from being saved:</h2>

      <ul>
        <% habitation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :type, style: "display: block" %>
    <%= form.text_field :type %>
  </div>

  <div>
    <%= form.label :airc, style: "display: block" %>
    <%= form.check_box :airc %>
  </div>

  <div>
    <%= form.label :private_bat, style: "display: block" %>
    <%= form.check_box :private_bat %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
